
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body{
  font-family: 'Source Sans Pro', sans-serif;
}

// Form
.remote-checkbox{
  margin-left: 1.2em;
}
input::-webkit-input-placeholder {
color: #D3D3D3 !important;
}
input:-moz-placeholder { /* Firefox 18- */
color: #D3D3D3 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #D3D3D3 !important;
}

input:-ms-input-placeholder {
color: #D3D3D3 !important;
}



.navbar{
  // background-color: #FFF;
  -webkit-box-shadow: 0 8px 4px -6px #999;
  -moz-box-shadow: 0 8px 4px -6px #999;
  box-shadow: 0 5px 8px -6px #999;
  .navbar-brand,
  .navbar-brand:hover{
    text-transform: uppercase;
    font-size: 1.3em;
    color: #e3714d;
    letter-spacing: 2px;
  }
  a.nav-link.new-job,
  a.nav-link.new-job:hover{
    color: #FFF;
    padding: 0.5em 1.5em;
    margin: 0.2em 1em 0 0;
    font-size: 0.9em;
    border-radius: 10px;
    // color: #FFF;
    background-color: #e3714d;
  }

}
.form-row {
    display: inherit;
}

//side-nav
#nav{
  height: 750px;
}
// body
.index-jobs{
  .categories{
    background-color: #f8f9fa;
  }
  .jobs-section{
    background-color: #FFF;
    .job-author{
      font-size: 1.1em;
      margin-bottom: 0.3em;
      text-decoration: none;
    }
  }

}
.jobs-section{
  .job-title{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1.6em;
  }
  .job-type,
  {
    display: inline-block;
    padding: 0.3em 0.8em;
    font-size: 0.9em;
    border-radius: 5px;
    color: #FFF;
    margin-bottom: 0.5em;
  }
}
.all{
  background-color: #5bc0de;
}
.internship{
  background-color: #e3714d;
}
.freelance{
  background-color: #9068be;
}
.full-time{
  background-color: #4ABDAC;
}
.part-time{
  background-color: #7A9D96;
}
.contract{
  background-color: #DCAE1D;
}

.categories{
  .job-type-nav{
    display: inline-block;
    width: 100%;
    font-size: 1em;
    border-radius: 8px;
    color: #FFF;
    margin-bottom: 0.7em;
    text-decoration: none;
  }
}

.jobs-show-top{
  .fa-building-o,
  .fa-map-marker{
    color: #CCC;
  }
  .fa-map-marker{
    margin: 1em 0 0 4em;
    font-size: 1.2em;
  }

  .job-author{
    display: inline-block;
    margin: 1em 0 0 0.5em;
    color:#424242
  }
  .job-location{
    display: inline-block;
    margin: 1em 0 0 0.35em;
    color:#424242
  }
}
.job-type-show{
  display: inline-block;
  padding: 0.3em 0.8em;
  font-size: 0.9em;
  border-radius: 5px;
  color: #FFF;
  margin-bottom: 0.5em;
}

.jobs-show-url,
.jobs-show-website{
  .job-url-title,
  .job-website-title{
    display: inline-block;
  }
  .job-url,
  .job-website-url{
    text-decoration: none;
    margin-left: 0.3em;
  }
}
.remote-ok{
  h5,
  p{
    display: inline-block;
  }
  p{
    margin-left: 0.5em;
  }
}


.notification {
  margin-bottom: 0;
  p{
    margin: 0;
  }
}
